 # Creating a time series

In [1]:
import pandas as pd

In [2]:
# Adapted from https://pandas.pydata.org/pandas-docs/version/0.12/timeseries.html
#72 hours starting with midnight Jan 1st, 2011

rng = pd.date_range('1/1/2011', periods=72, freq='H')

In [3]:
rng
#gives an ordered list of DatetimeIndexes. Its a date range with 72 periods, with an hourly frequency.
#This can be used as an indes for another data set.

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               '2011-01-01 10:00:00', '2011-01-01 11:00:00',
               '2011-01-01 12:00:00', '2011-01-01 13:00:00',
               '2011-01-01 14:00:00', '2011-01-01 15:00:00',
               '2011-01-01 16:00:00', '2011-01-01 17:00:00',
               '2011-01-01 18:00:00', '2011-01-01 19:00:00',
               '2011-01-01 20:00:00', '2011-01-01 21:00:00',
               '2011-01-01 22:00:00', '2011-01-01 23:00:00',
               '2011-01-02 00:00:00', '2011-01-02 01:00:00',
               '2011-01-02 02:00:00', '2011-01-02 03:00:00',
               '2011-01-02 04:00:00', '2011-01-02 05:00:00',
               '2011-01-02 06:00:00', '2011-01-02 07:00:00',
               '2011-01-02 08:00:00', '2011-01-02 09:00:00',
               '2011-01-02 10:00:00', '2011-01-02 11:00:00',
               '2011-01-02 12:00:00', '2011-01-02 13:00:00',
               '2011-01-02 14:00:00', '2011-01-02 15:00:00',
               '2011-01-02 16:00:00', '2011-01-02 17:00:00',
               '2011-01-02 18:00:00', '2011-01-02 19:00:00',
               '2011-01-02 20:00:00', '2011-01-02 21:00:00',
               '2011-01-02 22:00:00', '2011-01-02 23:00:00',
               '2011-01-03 00:00:00', '2011-01-03 01:00:00',
               '2011-01-03 02:00:00', '2011-01-03 03:00:00',
               '2011-01-03 04:00:00', '2011-01-03 05:00:00',
               '2011-01-03 06:00:00', '2011-01-03 07:00:00',
               '2011-01-03 08:00:00', '2011-01-03 09:00:00',
               '2011-01-03 10:00:00', '2011-01-03 11:00:00',
               '2011-01-03 12:00:00', '2011-01-03 13:00:00',
               '2011-01-03 14:00:00', '2011-01-03 15:00:00',
               '2011-01-03 16:00:00', '2011-01-03 17:00:00',
               '2011-01-03 18:00:00', '2011-01-03 19:00:00',
               '2011-01-03 20:00:00', '2011-01-03 21:00:00',
               '2011-01-03 22:00:00', '2011-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [4]:
import numpy as np

In [5]:
ts = pd.DataFrame(np.random.poisson(10, len(rng)), index =rng, columns=['admissions'])
#10 average number of hourly addmissions

In [6]:
ts

                     admissions
2011-01-01 00:00:00           9
2011-01-01 01:00:00          14
2011-01-01 02:00:00           5
2011-01-01 03:00:00           7
2011-01-01 04:00:00           8
...                         ...
2011-01-03 19:00:00           7
2011-01-03 20:00:00          13
2011-01-03 21:00:00          11
2011-01-03 22:00:00          11
2011-01-03 23:00:00          11

[72 rows x 1 columns]

In [7]:
#Now we have a time-series. Index not considered a col
#pandas using rng as the row label/Index for the dataframe.
#But, values must be unique. Recall iloc-position, loc -label
# The above is a time stamp, giving time points, e.g. some confusion around what is included.
# Therefore must spell it out. Important to consider interval, perhaps, use a date range??

In [11]:
ts.iloc[1]

admissions    14
Name: 2011-01-01 01:00:00, dtype: int32

In [14]:
ts.loc['2011-01-01 04:00:00']

admissions    8
Name: 2011-01-01 04:00:00, dtype: int32

In [8]:
#np.random.poisson(5, 10)
# 5 = average number of events occuring
# 10 = the number of event